<%= render 'shared/errors', obj: @team %>

<h1 align="center">Editar Equipo</h1>

<%= form_with(model: @team, local: true, url: tournament_team_path(@tournament)) do |form| %>
  <%#= render 'form', team: @team, sport: @sport %>
  <%= render partial: 'form', team: @team, sport: @sport, locals: { form: form } %>
<% end %>

<div class="row">
  <div class="col">
    <%= link_to "Atrás", :back %>
  </div>
</div>
