<h1 align= "center">Equipo Nuevo:</h1>

<%= render 'form', team: @team, sport: @sport %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" align="center">
            <%= link_to 'Atrás', :back %>
      </div>
    </div>
  </div>
</div>
