<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" align="center">
            <p>
              <strong>Nombre del equipo:</strong>
              <%= @team.name %>
            </p>

            <p>
              <strong>Apodo del equipo:</strong>
              <%= @team.nickname %>
            </p>
            <%= link_to 'Editar', edit_tournament_team_path(@tournament) %> |
            <%= link_to 'Atrás', @tournament %>
      </div>
    </div>
  </div>
</div>
