<div class="card">
  <div class="card-body">
    <h4 class="card-title">Información Académica</h4>
    <p class="card-text"><b>Escuela:</b> <%= @player.school.name %></p>
    <p class="card-text"><b>Semestre:</b> <%= @player.period.period_number %></p>
  </div>
</div>