<%= render 'shared/errors', obj: @player %>

<h1 align="center">Inscripción de Jugadores</h1>

<%= form_for @player, url: admin_players_path(@player) do |f| %>
  <%= render partial: '/admin/players/form', locals: { f: f } %>
  <%#= render "form" %>
  <%#= f.submit "Inscribir Jugador", class: "btn btn-primary" %>
<% end %>