<h1 align="center"><%= @player.name %></h1>

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <%= render "personal_info" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <%= render "academic_info" %>
      </div>
    </div>    
  </div>

  <div class="col">
    <%= render "sports_info" %>
  </div>
</div>
<br>
