<h1 align="center">¡Bienvenido, <%= current_user.email %>!</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b>Datos Personales</b></h5>
        <p class="card-text"><b>Correo:</b> <%= current_user.email %></p>
        <%= link_to "Modificar Perfil", edit_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>