<% provide(:button_text, "Modificar Torneo") %>
<%= render 'shared/errors', obj: @tournament %>

<h1 align="center">Modificar Torneo</h1>

<%= form_with(model: @tournament, local: true, url: sport_tournament_path(@tournament)) do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
<% end %>

<div class="row">
  <div class="col">
    <%= link_to 'Atrás', :back %>
  </div>
</div>
