<h1 align="center">Crear Torneo</h1>

<%= render 'form', tournament: @tournament %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" align="center">
            <%= link_to 'Atrás', :back %>
      </div>
    </div>
  </div>
</div>
