<% provide(:button_text, "Crear Torneo") %>
<%= render 'shared/errors', obj: @tournament %>

<h1 align="center">Crear Torneo</h1>

<%= form_with(model: @tournament, local: true, url: sport_tournaments_path(@sport)) do |form| %>
  <%#= render 'form', tournament: @tournament %>
  <%= render partial: 'form', locals: { form: form } %>
<% end %>

<div class="row justify-content-sm-center">
  <div class="col-sm-9">
    <%= link_to 'Atrás', :back %>
  </div>
</div>
