<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Deportes UCAB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Torneos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="deportesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Deportes <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="deportesDropdown">
          <a class="dropdown-item" href="#">Fútbol Sala</a>
          <a class="dropdown-item" href="#">Básquetbol</a>
          <a class="dropdown-item" href="#">Vóleibol</a>
          <a class="dropdown-item" href="#">Béisbol</a>
          <a class="dropdown-item" href="#">Ping Pong</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">Mi Perfil</a>
            <a class="dropdown-item" href="#">Ajustes</a>
            <div class="dropdown-divider"></div>
            <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "¡Regístrate!", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>