<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="welcome">
      <%= image_tag("2.jpg", :alt => "2", class: "deportes") %>  
  </body>
</html>
