<h1 align="center">Selecciona tu Escuela</h1>

<div class="row justify-content-center">
  <div class="col-sm-5">
    <table class="table" style="text-align: center;">
      <thead class="thead-light">
        <tr>
          <th scope="col">Escuela</th>
        </tr>
      </thead>
      <tbody>
        <% @schools.each do |s| %>
          <%= form_for s do |f| %>
            <tr>
              <td><%= f.submit s.name, class: "btn btn-outline-primary btn-block" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>