<%= render 'shared/errors', obj: @user %>

<h1 align="center">Registro de Usuario</h1>

<%= form_for @user, url: admin_users_path(@user) do |f| %>
  <%= render partial: '/admin/users/form', locals: { f: f } %>
  <%= f.submit "Registrar Usuario", class: "btn btn-primary" %>
<% end %>